# Configuración de Prometheus
PROMETHEUS_URL=http://localhost:9090
PROMETHEUS_TOKEN=

# Configuración de Opsgenie
OPSGENIE_API_KEY=your_api_key_here

# Configuración de Grafana  
GRAFANA_URL=http://localhost:3000

# Python path (usado por docker-compose)
PYTHONPATH=/app/src
